{% extends "painelControle.html" %}

{% block painel %}
<div class="painel col py-3" width="100%">
  <h3 style="color: #FF862C; font-weight: bold;">Produtos</h3>

  <table class="table table-hover table-custom">
    <thead>
      <tr>
        <th scope="col" class="text-center">
          <a class="btn btn-primary" onclick="abrirPopup('/createprodutos')" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
            </svg>
          </a>
          </th>
          <th scope="col" class="text-center">
            <form method="get">
              <input type="text" id="search" name="search" class="form-control" placeholder="Buscar">
            </form>
          </th>
        
      </tr>
    </thead>
  
  <table class="table table-hover table-custom text-center">
    </div>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Descricao</th>
        <th scope="col">Preco</th>
        <th scope="col">Status</th>
        <th scope="col">Peso</th>
        <th scope="col">Imagem</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
  
    {% for dbs in db %}
    <tbody>
      <tr>
        <th scope="row">{{dbs.id}}</th>
        <th>{{dbs.nome}}</th>
        <th>{{dbs.descricao}}</th>
        <th>{{dbs.preco}}</th>
        <th>{{dbs.status}}</th>
        <th>{{dbs.peso}}</th>
        <th>
          {% if dbs.imagem %}
            <img src="{{ dbs.imagem.url }}" alt="{{dbs.nome}}" style="width: 100px; height: auto;">
          {% else %}
            <p>Sem imagem</p>
          {% endif %}
        </th>
        
        <th>
          <a class="btn btn-primary" onclick="abrirPopup('/produtos/editar/{{dbs.id}}')" data-bs-toggle="modal" data-bs-target="#exampleModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" title="Editar">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg></a>

          <a href="/produtos/delete/{{dbs.id}}/" class="btn btn-danger btnDel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg></a>
        </th>
      </tr>
    </tbody>
 
  {% endfor %}
  
  <table class="table table-hover table-custom">
    <thead>
      <tr>
        <th scope="col" class="text-center">
          {%if db.has_previous%}
          <button href="?page={{db.previous_page_number}}" type="button" class="btn btn-secondary"> 
            <a href="?page={{db.previous_page_number}}" class="text-reset text-decoration-none"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
          </svg> </a>
        </button>
          {%endif%}
      
          {{db.number}}
      
          {%if db.has_next%}
          <button type="button" class="btn btn-secondary">
          <a href="?page={{db.next_page_number}}" class="text-reset text-decoration-none"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"/>
          </svg> </a>
        </button>
          {%endif%}</th>
        
      </tr>
    </thead>

{% endblock %}