.table-custom {
    background-color: #3A0930; /* Fundo branco com 80% de opacidade */
    color: #333333; /* Cor do texto */
  }

  .table-custom th {
    background-color: #3A0930; /* Fundo do cabeçalho com 90% de opacidade */
    color: #ffffff; /* Cor do texto no cabeçalho */
  }

  .table-custom tbody tr:hover {
    background-color: rgba(241, 196, 15, 0.5); /* Fundo amarelo com 50% de opacidade ao passar o mouse */
  }